config MACH_DLXP_UL
	depends on ARCH_APQ8064
	bool "APQ8064 DLXP_UL"
	help
	  Support for the HTC APQ8064 DLXP_UL.

config MACH_DLXP_U
	depends on ARCH_APQ8064
	bool "APQ8064 DLXP_U"
	help
	  Support for the HTC APQ8064 DLXP_U.
