#
# Include the specific Kconfig file for HTC board
#

# DLXU
source "arch/arm/mach-msm/boards/board-dlxu/Kconfig"

# DLXUB1
source "arch/arm/mach-msm/boards/board-dlxub1/Kconfig"

# DLX
source "arch/arm/mach-msm/boards/board-monarudo/Kconfig"

